{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<form action="/commitsdb" method="POST">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Rating</th>
                <th>Foodtype</th>
                <th>Description</th>
                <th>Order Location</th>
                <th>Order Time</th>
                <th>Commit</th>
            </tr>
        </thead>
        <tfoot>


        </tfoot>
        <tbody>

                {% for order in orders %}
                <p>
                <tr>
                    <td> {{order.username}} </td>
                    <td> {{order.stars}}



                    <td> {{order.foodtype}} </td>
                    <td> {{order.description}} </td>
                    <td> {{order.location}} </td>
                    <td> {{order.time}}</td>
                     <td><button class="btn btn-primary" type="submit" name="commit" value={{order.orderid}}>Commit</button></td>

                     <script>
                         function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
                     </script>


                     <style>
                         .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
                     </style>
                     </div>
                </tr>
                </p>
                {% endfor %}


        </tbody>

    </table>
</form>
{% endblock %}
